* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #352756;
  color: #EAEAEA;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}


.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 24px;
  background-color: #1D2533;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 100;
}

.navbar__btn {
  min-width: max-content;
  height: 52px;
  position: relative;
  display: flex;
  align-items: end;
  text-decoration: none;
  color: #E8E9EA;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: top 5px center;
}

.navbar__btn:first-child {
  background-image: url(/img/home.svg);
}

.navbar__btn:nth-child(2) {
  background-image: url(/img/casino.png);
}

.navbar__btn:nth-child(3) {
  background-image: url(/img/history.svg);
}

.navbar__btn:nth-child(4) {
  background-image: url(/img/top.svg);
}

.navbar__btn:last-child {
  background-image: url(/img/shop.svg);
  background-position: top 13px center;
}